@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300&family=Exo:ital,wght@0,200;0,800;1,300;1,400;1,500;1,700&family=Lato:ital,wght@0,300;0,400;0,700;1,700&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,400;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --color-primary: #00aed6;
  --color-secondary: #ccecff;
  --color-success: #40eb87;
  --color-danger: #f54141;
  --color-dark: #1a273b;
  --color-black: #151b27;
  --color-white: #fff;
  --color-light: #f0eef6;
  --color-gray: #98a4b3;

  --border-radius: 2rem;
  --card-border-radius: 1rem;
  --btn-padding: 0.5rem 2rem;
  --search-padding: 0.5rem 1rem;
  --card-padding: 1rem;

  --sticky-top-left: 5.5rem;
  --sticky-top-right: -20rem;

  --transition: all 0.3s ease-in-out;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--color-dark);
  background-color: var(--color-light);
  overflow-x: hidden;
}
/*================================General-style==============*/
.container{
  width: 80%;
  margin: 0 auto
}
.profile-photo{
  width: 3rem;
  /* height: 3rem; */
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}
img{
  display: inline-block;
  width: 100%;
}
.btn{
  display: inline-block;
  padding: var(--btn-padding);
  font-weight: 500;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: var(--transition);
  font-size: 0.9rem;
  font-family: inherit;

}
.btn:hover{
  opacity: 0.8;
}
.btn-primary{
  background-color: var(--color-primary);
  color: var(--color-white);

}
.text-muted{
  color: var(--color-gray);
}
/* NavBars-style */
nav{
  width: 100%;
  background-color: var(--color-white);
  padding: 0.7rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
}
nav .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-bar{
  background-color: var(--color-light);
  border-radius: var(--border-radius);
  padding: var(--search-padding);
}
.search-bar input[type="search"]{
  background-color: transparent;
  width: 30vw;
  margin-left: 1rem;
  font-size: 0.9rem;
  color: var(--color-dark);
  font-family: inherit;
}
.search-bar input[type="search"]::placeholder{
  color: var(--color-gray);
}
nav .create{
  display: flex;
  align-items: center;
  gap: 2rem;
}